body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f9f9f9;
}
    
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    border: none;
    outline: none;
}